.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 1200px;

  padding: 16px 0;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  .NavButton {
    cursor: pointer;
  }
}
