.Wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  // background: linear-gradient(to bottom right, #c0bbeb, #6bb6fc, #92f8c0);
  background: linear-gradient(to right, #a099e3, #86b5e1),
    linear-gradient(to bottom, transparent, #92f8c0);
  background-blend-mode: overlay;
}

.Main {
}
