.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main {
  width: 100%;
}
