.Wrapper {
}

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #e8eaf1;

  .Players {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    z-index: 10;
  }

  .HeaderGradient {
    position: absolute;
    width: 100vw;
    height: 22%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(12, 22, 25, 0) 0%, #0c1619 61.5%);
    z-index: 20;
  }

  .HeaderButton {
    position: absolute;
    bottom: 80px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 21;

    .HeaderButtonText {
      color: var(--White, #fff);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 140% */
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .InfoHeader {
    width: 100%;
    background: var(--Main, #01ccff);
    padding: 40px 0px;
    display: flex;
    padding: 40px 0px;

    justify-content: center;
    align-items: center;
    gap: 48px;

    .InfoHeaderTitle {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .InfoHeaderTitleMain {
      color: var(--White, #fff);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.8px;
    }
    .InfoHeaderTitleSub {
      color: var(--White, #fff);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }

  .Upcoming {
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 120px 0 160px;
    gap: 48px;

    .UpcomingTitle {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .UpcomingTitleText {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .UpcomingTitleMain {
          color: var(--Black, #0a0a0a);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: 1.2px;
        }

        .UpcomingTitleSub {
          color: var(--Black, #0a0a0a);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 140% */
          letter-spacing: 0.2px;
        }
      }

      .UpcomingButton {
        display: flex;
        height: 48px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 4px;
        border: 1px solid var(--Main, #01ccff);
        cursor: pointer;

        .UpcomingButtonText {
          color: var(--Main, #01ccff);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 144.444% */
          letter-spacing: 0.45px;
        }
      }
    }

    .UpcomingContent {
      display: flex;
      align-items: center;
      gap: 40px;

      .UpcomingContentItem {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(1, 204, 255, 0.5);

        flex: 1;
        background: var(--Background, #f5f9fa);
        position: relative;

        .UpcomingContentItemTitle {
          color: var(--Black, #0a0a0a);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 140% */
        }

        .UpcomingContentItemTitleWrapper {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 20px 24px;
        }

        .UpcomingContentItemTitleBadge {
          border: 1px solid rgba(1, 204, 255, 0.5);
          border-radius: 4px;
          display: flex;
          padding: 4px 10px;
          justify-content: center;
          align-items: center;

          color: #01ccff;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
        }

        .UpcomingContentItemMatch {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 28px;
          margin-top: 12px;
          margin-bottom: 48px;
        }

        .UpcomingContentItemDate {
          display: flex;
          padding: 8px 75px 8px 77px;
          justify-content: center;
          align-items: center;
          background: var(--Main, #01ccff);
          .UpcomingContentItemDateText {
            color: var(--White, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
        .UpcomingContentItemButton {
          position: absolute;
          right: -24px;
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .Popular {
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 0 160px;
    gap: 48px;

    .PopularTitle {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .PopularTitleText {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .PopularTitleMain {
          color: var(--Black, #0a0a0a);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: 1.2px;
        }

        .PopularTitleSub {
          color: var(--Black, #0a0a0a);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 140% */
          letter-spacing: 0.2px;
        }
      }

      .PopularButton {
        display: flex;
        height: 48px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 4px;
        border: 1px solid var(--Main, #01ccff);
        cursor: pointer;

        .PopularButtonText {
          color: var(--Main, #01ccff);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 144.444% */
          letter-spacing: 0.45px;
        }
      }
    }
    .PopularContentWrapper {
      display: flex;
      align-items: center;
      gap: 24px;

      .PopularContentItem {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .ImageWrapper {
          background: var(--Background, #f5f9fa);
          background: linear-gradient(
            -60deg,
            transparent 15px,
            #f5f9fa 0,
            #f5f9fa calc(100% - 15px),
            transparent 15px
          );
          position: relative;

          .UpcomingContentItemButton {
            position: absolute;
            right: -24px;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }

        .PopularContentItemTitle {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .PopularContentItemTitleMain {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 28px; /* 155.556% */
            letter-spacing: 0.45px;
            font-family: "NanumSquare Neo OTF";
          }

          .PopularContentItemTitleSub {
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
      }
    }
  }

  .Banner {
    display: flex;

    width: 1440px;
    height: 720px;
    overflow: hidden;
    background: linear-gradient(
      -60deg,
      transparent 32px,
      #01ccff 0,
      #b8f1ff calc(100% - 32px),
      transparent 32px
    );
    background: var(--Sky, linear-gradient(180deg, #01ccff 0%, #b8f1ff 100%));
    .BannerContainer {
      position: relative;
      flex: 1;
      padding: 60px 80px;
      display: flex;

      background: linear-gradient(
        -60deg,
        #fff 32px,
        transparent 0,
        transparent calc(100% - 32px),
        #fff 32px
      );

      .BannerTitleWrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .BannerTitle {
          color: var(--White, #fff);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */
        }

        .BannerSubTitle {
          color: var(--White, #fff);
          font-family: "NanumSquare Neo OTF";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
        }
      }

      .BannerButton {
        position: absolute;
        bottom: 60px;
        right: 80px;
        border-radius: 4px;
        background: var(--White, #fff);
        display: flex;
        height: 48px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        .BannerButtonText {
          color: var(--Black, #0a0a0a);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 144.444% */
          letter-spacing: 0.45px;
        }
      }
    }
  }

  .Live {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    width: 1440px;

    .Stream {
      position: relative;
      .StreamContent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 60px 80px;
        display: flex;
        flex-direction: column;

        .StreamContentTitle {
          color: var(--White, #fff);
          text-shadow: 0px 4px 20px #000;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */

          display: flex;
          align-items: center;
          gap: 16px;

          .RedDot {
            width: 24px;
            height: 24px;
            border-radius: 100px;
            background: #ff2638;

            box-shadow: 0px 4px 20px #000;
          }
        }

        .StreamButton {
          margin-top: auto;
          margin-left: auto;
          border-radius: 4px;
          background: var(--White, #fff);
          display: flex;
          height: 48px;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          cursor: pointer;
          .StreamButtonText {
            color: var(--Black, #0a0a0a);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 144.444% */
            letter-spacing: 0.45px;
          }
        }
      }
    }
    .LiveContent {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .LiveContentItem1 {
        position: relative;

        .Content {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          padding: 60px 80px;
          display: flex;
          flex-direction: column;

          .StreamContentTitle {
            color: var(--White, #fff);
            text-shadow: 0px 4px 20px #000;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px; /* 125% */
          }
          .StreamButton {
            margin-top: auto;
            margin-left: auto;
            border-radius: 4px;
            background: var(--White, #fff);
            display: flex;
            height: 48px;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            .StreamButtonText {
              color: var(--Black, #0a0a0a);
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 26px; /* 144.444% */
              letter-spacing: 0.45px;
            }
          }
        }
      }

      .LiveContentItem2 {
        background: linear-gradient(
          -60deg,
          transparent 32px,
          #01ccff 0,
          #b8f1ff calc(100% - 32px),
          transparent 32px
        );
        background: var(--Sky, linear-gradient(180deg, #01ccff 0%, #b8f1ff 100%));

        .Container {
          position: relative;
          flex: 1;
          padding: 60px 80px;
          display: flex;
          overflow: hidden;
          height: 438px;

          background: linear-gradient(
            -60deg,
            #fff 32px,
            transparent 0,
            transparent calc(100% - 32px),
            #fff 32px
          );
        }

        img {
          position: absolute;
          left: -0;
          top: 0px;
        }

        .Content {
          width: 100%;
          height: 100%;
          z-index: 2;
          display: flex;
          flex-direction: column;

          .StreamContentTitle {
            color: var(--White, #fff);
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px; /* 125% */
          }
          .StreamButton {
            margin-top: auto;
            margin-left: auto;
            border-radius: 4px;
            background: var(--White, #fff);
            display: flex;
            height: 48px;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            .StreamButtonText {
              color: var(--Black, #0a0a0a);
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 26px; /* 144.444% */
              letter-spacing: 0.45px;
            }
          }
        }
      }
    }
  }

  .Video {
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 160px 0 160px;
    gap: 48px;

    .VideoTitle {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .VideoTitleText {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .VideoTitleMain {
          color: var(--Black, #0a0a0a);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: 1.2px;
        }

        .VideoTitleSub {
          color: var(--Black, #0a0a0a);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 140% */
          letter-spacing: 0.2px;
        }
      }

      .VideoButton {
        display: flex;
        height: 48px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 4px;
        border: 1px solid #f33;
        cursor: pointer;

        .VideoButtonText {
          color: #f33;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 144.444% */
          letter-spacing: 0.45px;
          margin-left: 8px;
        }
      }
    }
    .VideoContentWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .VideoContentItemWrapper {
        display: flex;
        flex-direction: column;
        gap: 38px;
      }

      .VideoContentItem {
        display: flex;
        flex-direction: column;
        position: relative;

        .ImageWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .LogoImageWrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .VideoContentItemContent {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .VideoContentItemContentTitle {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 16px;

            .VideoContentItemContentTitleMain {
              color: var(--White, #fff);
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              letter-spacing: 0.5px;
            }

            .VideoContentItemContentTitleMainSmall {
              color: var(--White, #fff);
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 140% */
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }

  .Team {
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 0 160px;
    gap: 48px;

    .TeamTitle {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .TeamTitleText {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .TeamTitleMain {
          color: var(--Black, #0a0a0a);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 60px; /* 125% */
          letter-spacing: 1.2px;
        }

        .TeamTitleSub {
          color: var(--Black, #0a0a0a);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 140% */
          letter-spacing: 0.2px;
        }
      }
    }

    .TeamContentWrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
